/dots/fish/.config/fish/fishd.*
/dots/fish/.config/fish/fish_variables
/dots/pulseaudio/.config/pulse/*
/dots/pulseaudio/.config/pulse/default.pa
/dots/gtk/.config/gtk-3.0/servers
/dots/gtk/.config/gtk-3.0/bookmarks
/dots/fish/.config/fish/functions/fzf_key_bindings.fish
/dots/fish/.config/fish/functions/fish_user_key_bindings.fish
.DS_Store
/dots/neovim/.config/coc/*
!/dots/neovim/.config/coc/extensions/
/dots/neovim/.config/coc/extensions/*
!/dots/neovim/.config/coc/extensions/package.json
/dots/neovim/.config/nvim/.netrwhist
/dots/neovim/.config/nvim/autoload
/dots/fish/.config/fish/functions/fish_ssh_agent.fish
