/dots/shared/fish/.config/fish/fishd.*
/dots/shared/fish/.config/fish/fish_variables
/dots/shared/fish/.config/fish/functions/fzf_key_bindings.fish
/dots/shared/fish/.config/fish/functions/fish_user_key_bindings.fish
.DS_Store
